.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.centrado {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.contenedor {
    border: 1px solid black;
    min-height: 300px;
    width: 400px;
    max-width: 1000px;
    margin: 0 auto;
}

p {
    text-align: center;
}

.imagen-item {
    width: 100px;
    height: 100px;
    display: flex;
    margin: 0 auto;
}

.list-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.item-nav {
    margin: 0 2rem;
}

.item-nav:hover{
    color:white;
}

a.active{
    color: green;
}