.nav{
    background-color:rgb(29, 126, 211);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
}

.logo{
    width: 30px;   
}

.logo:hover{
    background-color: red;
}

li{
    list-style-type:none;
    margin: 0 auto;
}